.countDown {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: darkred;

  .grid {
    display: flex;
    gap: 2rem;
    max-width: 800px;
  }

  .time-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    padding: 2rem 1rem;
  }

  .time-value {
    font-size: 4rem;
    font-weight: 800;
    color: white;
  }

  .time-label {
    font-size: 1.2rem;
    text-transform: uppercase;
    color: white;
  }

  .title {
    color: white;
    font-size: 3rem;
    margin-bottom: 3rem;
    font-weight: 800;
  }
}
